@media screen and ( max-width: 480px ) {
	.site-content {
		margin: 1.125rem;
		max-width: 1170px;

		.content-area {
			line-height: 1.8rem;
		}

		.widget-area {
			line-height: 1.8rem;
		}
	}
}

@media screen and ( min-width: 481px ) and (max-width: 600px ) {
	.site-content {
		margin: 1.125rem;
		max-width: 1170px;

		.content-area {
			line-height: 1.8rem;
		}

		.widget-area {
			line-height: 1.8rem;
		}
	}
}

@media screen and ( min-width: 601px ) and ( max-width: 768px ) {
	.site-content {
		margin: 1.125rem;
		max-width: 768px;

		.content-area {
			line-height: 1.8rem;
		}

		.widget-area {
			line-height: 1.8rem;
		}
	}
}

@media screen and ( min-width: 769px ) and (max-width: 1024px ) {
	.site-content {
		margin: 1.125rem;
		max-width: 1024px;

		.content-area {
			line-height: 1.8rem;
		}

		.widget-area {
			line-height: 1.8rem;
		}

		.left-sidebar {
			.content-area {
				float: left;
				width: 70.1171875%
			}

			.widget-area {
				float: right;
				width: 28.125%;
			}
		}
	}
}

@media screen and ( min-width: 1025px ) {
	.site-content {
		margin: 1.125rem auto;
		max-width: 1170px;

		.content-area {
			line-height: 1.8rem;
		}

		.widget-area {
			line-height: 1.8rem;
		}

		.left-sidebar {
			.content-area {
				float: left;
				width: 73.846153846153846%
			}

			.widget-area {
				float: right;
				width: 24.615384615384615%;
			}
		}
	}
}

@media screen and ( min-width: 1170px ) {
	.site-content {
		margin: 1.125rem auto;
		max-width: 1170px;

		.content-area {
			line-height: 1.8rem;
		}

		.widget-area {
			line-height: 1.8rem;
		}

		.left-sidebar {
			.content-area {
				float: left;
				width: 73.846153846153846%
			}

			.widget-area {
				float: right;
				width: 24.615384615384615%;
			}
		}
	}
}
