.section-blog {
	.content-area {
		margin: 0 auto;
		max-width: 1170px;
		padding: 1.125rem;

		.blog-header {
			text-align: center;

			.blog-title {
				margin: 0;
				padding: 0;
			}
		}

		.portfolio-tabs {
			text-align: center;

			.data-items {
				.data-item {

					&.active {
						text-decoration: underline;
						text-decoration-thickness: 2px;
						text-underline-offset: 3px;
					}
				}
			}
		}

		.blog-content {
			margin-top: 1.125rem;

			.blog-items {
				display: grid;
				list-style-type: none;
				grid-template-columns: 1fr 1fr;
				grid-gap: 1.125rem;
				margin: 0;
				padding: 0;

				.blog-item {
					background: color( white );
					box-shadow: 0 0.375rem 0.375rem hsl( 0deg 0% 0% / 0.3 );
					padding: 1.125rem;
					line-height: 1.8rem;

					.entry-header {

						.entry-title {
							margin: 0;
							padding: 0;
						}

						.entry-metadata {
							font-family: font-family( date );
							font-size: 1.7rem;
						}
					}

					.wp-caption {
						text-align: center;

						&-text {
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}
	}
}
