.site-social {

	.menu-items {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: static;
		justify-content: center;

		.menu-item {
			left: unset;
			position: relative;
			width: max-content;
			height: 24px;
			width:  24px;
			margin: 0 0.5rem;
			padding: 0 0 1rem 0;

			a {
				color: white;

				svg {
					color: white;
					flex-shrink: 0;


				}
			}
		}
	}
}
