.widget {
	background: color( white );
	box-shadow: 0 0.375rem 0.375rem hsl( 0deg 0% 0% / 0.3 );
	margin-top: 1.125rem;
	padding: 1.125rem;

	.widget-title {

		margin: 0 0 1.125rem 0;
		padding: 0;
	}
}

@media screen and ( min-width: 768px ) {
	.widget {

		&:first-child {
			margin-top: 0;
		}
	}
}
