.site-header {
	background: color( black );
	padding: 1.125rem;

	.branding-navigation {
		text-align: center;

		.site-branding {

			.site-title {
				font-size: 2.25rem;
				margin: 0;
				padding: 0;

				a {
					color: color( white );
					text-decoration: none;
				}
			}

			.site-description {
				color: color( white );
				padding: 0.75rem;
			}
		}
	}
}

@media screen and ( min-width: 1170px ) {
	.site-header {
		background: color( black );
		padding: 0.5rem;

		.branding-navigation {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1.125rem;

			.site-branding {
				.site-title,
				.site-description {
					float: left;
				}

				.site-title {
					font-size: 2.25rem;
					margin: 0;
					padding: 0;

					a {
						color: color( white );
					}
				}

				.site-description {
					color: color( white );
					padding: 0.75rem;
				}
			}
		}
	}
}
